* {
    padding: 0;
    margin: 0;
}

body {
    align-items: center;
    background-image: url('img/wallpaper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.terminal-display {
    background-color: rgba(44, 44, 44, 0.75);
    color: #00ff00;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    width: 100%;
    box-sizing: border-box;
}

.terminal-display pre {
    color: #d900ff;
    white-space: pre-wrap;
    font-family: 'Courier New', monospace;
    margin: 0;
}

.terminal-display p {
    display: block;
    background-color: rgba(44, 44, 44, 0.75);
    font-size: large;
    padding-left: 5px;
}

.comment {
    color: gray;
}

.quotes {
    color: yellow;
}

.text {
    color: white;
}

.blue {
    color: aqua;
}

.parentesis {
    color: #d900ff;
}
